In [18]:
import pandas as pd
df1 = pd.read_csv('/kaggle/input/dataset/owid-co2-data.csv')
cleaned_data = df1[["country","year","co2_per_capita","methane_per_capita","nitrous_oxide_per_capita"]]
us_data = cleaned_data[cleaned_data["country"] == "United States"]
us_data = us_data[us_data["year"]>1979]
us_data = us_data[us_data["methane_per_capita"]>0]
us_data.head()
us_data.to_csv("us_data_per_capita.csv")

In [19]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = us_data
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['co2_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted CO2 emissions for {year}: {future_pred[i]:.2f}')
us_data.head(25)

MSE: 1.12
R-squared: 0.77
Predicted CO2 emissions for 2030: 14.14
Predicted CO2 emissions for 2050: 10.32

,country,year,co2_per_capita,methane_per_capita,nitrous_oxide_per_capita
45103,United States,1990,20.642,2.716,0.966
45104,United States,1991,20.126,2.687,0.949
45105,United States,1992,20.277,2.661,0.953
45106,United States,1993,20.376,2.597,0.952
45107,United States,1994,20.453,2.610,0.967
45108,United States,1995,20.422,2.570,0.963
45109,United States,1996,20.867,2.533,0.977
45110,United States,1997,20.882,2.466,0.940
45111,United States,1998,20.785,2.394,0.919
45112,United States,1999,20.789,2.321,0.902
45113,United States,2000,21.282,2.281,0.888
45114,United States,2001,20.695,2.230,0.857
45115,United States,2002,20.622,2.185,0.855
45116,United States,2003,20.646,2.165,0.876
45117,United States,2004,20.795,2.139,0.861
45118,United States,2005,20.658,2.119,0.861
45119,United States,2006,20.192,2.103,0.880
45120,United States,2007,20.249,2.103,0.885
45121,United States,2008,19.350,2.110,0.819
45122,United States,2009,17.765,2.059,0.808
45123,United States,2010,18.252,2.099,0.825
45124,United States,2011,17.670,2.100,0.842
45125,United States,2012,16.877,2.119,0.809
45126,United States,2013,17.159,2.111,0.809
45127,United States,2014,17.168,2.173,0.805

In [20]:
india_data = cleaned_data[cleaned_data["country"] == "India"]
india_data = india_data[india_data["year"]>1979]
india_data = india_data[india_data["methane_per_capita"]>0]
india_data.head(25)
india_data.to_csv("india_data_per_capita.csv")

In [23]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = india_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['co2_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted CO2 Per Capita emissions for {year}: {future_pred[i]:.2f}')
india_data.head(25)

MSE: 0.01
R-squared: 0.94
Predicted CO2 Per Capita emissions for 2030: 2.22
Predicted CO2 Per Capita emissions for 2050: 3.05

,country,year,co2_per_capita,methane_per_capita,nitrous_oxide_per_capita
19765,India,1990,0.664,0.609,0.169
19766,India,1991,0.692,0.604,0.170
19767,India,1992,0.722,0.593,0.171
19768,India,1993,0.731,0.585,0.171
19769,India,1994,0.755,0.579,0.174
19770,India,1995,0.789,0.578,0.174
19771,India,1996,0.838,0.576,0.174
19772,India,1997,0.856,0.574,0.176
19773,India,1998,0.857,0.571,0.176
19774,India,1999,0.913,0.569,0.177
19775,India,2000,0.923,0.562,0.170
19776,India,2001,0.918,0.554,0.171
19777,India,2002,0.930,0.539,0.162
19778,India,2003,0.948,0.538,0.167
19779,India,2004,0.990,0.536,0.171
19780,India,2005,1.027,0.538,0.176
19781,India,2006,1.102,0.538,0.181
19782,India,2007,1.170,0.542,0.188
19783,India,2008,1.234,0.541,0.188
19784,India,2009,1.318,0.537,0.193
19785,India,2010,1.352,0.534,0.196
19786,India,2011,1.403,0.531,0.198
19787,India,2012,1.511,0.526,0.196
19788,India,2013,1.545,0.521,0.192
19789,India,2014,1.643,0.517,0.191

In [25]:
fin_data = cleaned_data[cleaned_data["country"] == "Finland"]
fin_data = fin_data[fin_data["year"]>1979]
fin_data = fin_data[fin_data["methane_per_capita"]>0]

In [26]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = fin_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['co2_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted CO2 Per Capita emissions for {year}: {future_pred[i]:.2f}')
fin_data.head(25)

MSE: 1.10
R-squared: 0.63
Predicted CO2 Per Capita emissions for 2030: 7.67
Predicted CO2 Per Capita emissions for 2050: 5.17

,country,year,co2_per_capita,methane_per_capita,nitrous_oxide_per_capita
15712,Finland,1990,11.414,1.715,1.444
15713,Finland,1991,11.007,1.687,1.322
15714,Finland,1992,10.762,1.666,1.277
15715,Finland,1993,11.115,1.652,1.291
15716,Finland,1994,12.132,1.631,1.321
15717,Finland,1995,11.378,1.582,1.314
15718,Finland,1996,12.495,1.557,1.307
15719,Finland,1997,12.198,1.529,1.313
15720,Finland,1998,11.517,1.479,1.283
15721,Finland,1999,11.396,1.436,1.287
15722,Finland,2000,11.014,1.370,1.302
15723,Finland,2001,12.050,1.336,1.282
15724,Finland,2002,12.506,1.284,1.294
15725,Finland,2003,13.937,1.235,1.314
15726,Finland,2004,13.186,1.188,1.327
15727,Finland,2005,10.874,1.128,1.336
15728,Finland,2006,12.983,1.141,1.310
15729,Finland,2007,12.623,1.100,1.310
15730,Finland,2008,11.033,1.073,1.338
15731,Finland,2009,10.472,1.045,1.150
15732,Finland,2010,11.948,1.059,1.065
15733,Finland,2011,10.512,1.017,1.041
15734,Finland,2012,9.447,1.010,1.042
15735,Finland,2013,9.508,0.982,1.055
15736,Finland,2014,8.719,0.954,1.069

In [27]:
nor_data = cleaned_data[cleaned_data["country"] == "Norway"]
nor_data = nor_data[nor_data["year"]>1979]
nor_data = nor_data[nor_data["methane_per_capita"]>0]

In [28]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = nor_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['co2_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted CO2 Per Capita emissions for {year}: {future_pred[i]:.2f}')
nor_data.head(25)

MSE: 0.37
R-squared: -0.03
Predicted CO2 Per Capita emissions for 2030: 8.88
Predicted CO2 Per Capita emissions for 2050: 8.87

,country,year,co2_per_capita,methane_per_capita,nitrous_oxide_per_capita
32179,Norway,1990,8.252,1.323,1.221
32180,Norway,1991,7.851,1.326,1.183
32181,Norway,1992,8.024,1.330,1.050
32182,Norway,1993,8.334,1.322,1.092
32183,Norway,1994,8.728,1.337,1.107
32184,Norway,1995,8.822,1.337,1.108
32185,Norway,1996,9.477,1.347,1.105
32186,Norway,1997,9.449,1.337,1.094
32187,Norway,1998,9.436,1.295,1.099
32188,Norway,1999,9.545,1.251,1.141
32189,Norway,2000,9.376,1.242,1.084
32190,Norway,2001,9.636,1.218,1.061
32191,Norway,2002,9.376,1.196,1.102
32192,Norway,2003,9.616,1.192,1.065
32193,Norway,2004,9.633,1.172,1.091
32194,Norway,2005,9.357,1.135,1.105
32195,Norway,2006,9.406,1.113,1.023
32196,Norway,2007,9.680,1.072,0.966
32197,Norway,2008,9.368,1.046,0.870
32198,Norway,2009,8.921,1.033,0.741
32199,Norway,2010,9.330,1.014,0.708
32200,Norway,2011,9.033,0.981,0.696
32201,Norway,2012,8.812,0.960,0.685
32202,Norway,2013,8.762,0.925,0.675
32203,Norway,2014,8.750,0.899,0.675

In [ ]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = india_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['methane_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted Methane Per Capita emissions for {year}: {future_pred[i]:.2f}')

In [ ]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = india_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['nitrous_oxide_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted Nitrous Oxide Per Capita emissions for {year}: {future_pred[i]:.2f}')

In [ ]:
df1 = pd.read_csv('/kaggle/input/dataset/owid-co2-data.csv')
cleaned_data = df1[["country","year","co2_per_capita","methane_per_capita","nitrous_oxide_per_capita"]]
angola_data = cleaned_data[cleaned_data["country"] == "Angola"]
angola_data = angola_data[angola_data["year"]>1979]
angola_data = angola_data[angola_data["methane_per_capita"]>0]
angola_data.head()
angola_data.to_csv("angola_data1.csv")

In [ ]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = angola_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['nitrous_oxide_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted Nitrous Oxide emissions for {year}: {future_pred[i]:.2f}')

In [30]:
rwanda_data = cleaned_data[cleaned_data["country"] == "Rwanda"]
rwanda_data = rwanda_data[rwanda_data["year"]>1979]
rwanda_data = rwanda_data[rwanda_data["methane_per_capita"]>0]

In [33]:
import pandas as pd  
import numpy as np  
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split  
  
# Load the dataset  
df = rwanda_data 
  
# Extract the year as an integer value  
# df['year'] = df['year']  
  
# Extract relevant columns  
X = df[['year']]  
y = df['co2_per_capita']  
  
# Split data into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# Create and train a linear regression model  
lr_model = LinearRegression()  
lr_model.fit(X_train, y_train)  
  
# Evaluate the model  
y_pred = lr_model.predict(X_test)  
mse = np.mean((y_pred - y_test) ** 2)  
r2 = lr_model.score(X_test, y_test)  
print(f'MSE: {mse:.2f}')  
print(f'R-squared: {r2:.2f}')  
  
# Make predictions for 2030 and 2050  
future_years = pd.DataFrame({'year': [2030, 2050]})  
future_pred = lr_model.predict(future_years)  
  
# print(f'Predicted CO2 emissions for 2030: {future_pred:.2f}')  
# print(f'Predicted CO2 emissions for 2050: {future_pred:.2f}')

for i, year in enumerate([2030, 2050]):  
   print(f'Predicted CO2 Per Capita emissions for {year}: {future_pred[i]:.2f}')
rwanda_data.head(25)

MSE: 0.00
R-squared: 0.39
Predicted CO2 Per Capita emissions for 2030: 0.09
Predicted CO2 Per Capita emissions for 2050: 0.10

,country,year,co2_per_capita,methane_per_capita,nitrous_oxide_per_capita
35921,Rwanda,1990,0.072,0.191,0.111
35922,Rwanda,1991,0.063,0.190,0.111
35923,Rwanda,1992,0.063,0.179,0.104
35924,Rwanda,1993,0.061,0.167,0.097
35925,Rwanda,1994,0.069,0.181,0.105
35926,Rwanda,1995,0.080,0.251,0.120
35927,Rwanda,1996,0.069,0.232,0.110
35928,Rwanda,1997,0.063,0.240,0.106
35929,Rwanda,1998,0.061,0.227,0.106
35930,Rwanda,1999,0.063,0.241,0.115
35931,Rwanda,2000,0.064,0.200,0.110
35932,Rwanda,2001,0.064,0.207,0.116
35933,Rwanda,2002,0.062,0.209,0.121
35934,Rwanda,2003,0.059,0.218,0.127
35935,Rwanda,2004,0.059,0.220,0.133
35936,Rwanda,2005,0.057,0.207,0.136
35937,Rwanda,2006,0.055,0.219,0.145
35938,Rwanda,2007,0.057,0.224,0.150
35939,Rwanda,2008,0.054,0.230,0.154
35940,Rwanda,2009,0.056,0.230,0.155
35941,Rwanda,2010,0.056,0.238,0.161
35942,Rwanda,2011,0.061,0.220,0.152
35943,Rwanda,2012,0.066,0.215,0.155
35944,Rwanda,2013,0.070,0.213,0.156
35945,Rwanda,2014,0.073,0.208,0.150

In [ ]:
india_detailed_data = df1[["country","year","coal_co2_per_capita","oil_co2_per_capita","gas_co2_per_capita","consumption_co2_per_capita","cement_co2_per_capita","land_use_change_co2_per_capita","flaring_co2_per_capita"]] 
india_detailed_data = india_detailed_data[india_detailed_data["year"]>1989]
india_detailed_data = india_detailed_data[india_detailed_data["country"]== "India"]
india_detailed_data = india_detailed_data[india_detailed_data["consumption_co2_per_capita"]>0]
india_detailed_data.head(20)